body {
    background-color: var(--bg-main-color);
    ff
    color: var(--font-main-color);
}

button {
    background-color: var(--btn-bg-color);
    border: none;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 2em;
}