body {
    background-color: var(--bg-main-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-main-color);
}

button {
    background-color: var(--btn-bg-color);
    border: none;
    margin: 0 0 0 auto;
    padding: 5px 15px;
    border-radius: 2em;
    font-size: 20px;
    cursor: pointer;
}