.main-wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 10px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.3em;
}

.search {
    margin: 20px auto;
    min-height: 30px;
    min-width: 50%;
    font-size: 20px;
}

.add-task {
    margin: 20px auto;
    min-width: 50%;
}

.add-task__input {
    margin: 20px auto;
    min-height: 30px;
    min-width: 80%;
    font-size: 20px;
}

.btn--large {
    margin: 10px auto;
}

.title-count-task {
    margin: 30px 30px 60px;
    text-align: center;
    font-size: 30px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.list__item {
    display: grid;
    flex-basis: 90%;
    font-size: 20px;
    margin: 10px auto;
    padding: 0 0 0 10px;
    border: 1px solid ;
    line-height: 2.2em;
}

.btn--medium {
    margin: 0;
    border-radius: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    // justify-self: end;
}