.main-wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 10px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.3em;
}

.search {
    margin: 20px;
    
}